/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
	font-family: Lato, Tahoma;
}

#header {
	display: inline-block;
	width: 100%;
	background: #AAA;
	height: 80px;
}

.home-link {
	float:left;
	padding-left: 10px;
	line-height: 34px;
}

.header-links {
	float:right;
	line-height: 40px;
}

.header-links li {
	display: inline;
	font-size: 14px;
	padding-right: 20px;
}

a {
	text-decoration: none;
	color: white;
}

h4 a {
	color: black;
}

#user_form {
	width: 260px;
	display: inline-block;
}

label {
	float: left;
	line-height: 23px;
}

input {
	float: right;
}

input[type=submit] {
	clear: both;
}